
.intro {
    position: fixed;

    z-index: 999; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: #BCE0FF; 
    transition: 1s;
}

.splash-logo-header {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #F5F5DC;
    font-family: 'Lora', serif;
 
}

.splash-logo {
    position: relative;
    display: inline-block;
    bottom: -20px;
    opacity: 0;
}

.splash-logo.active {
    bottom: 0;
    opacity: 1;
    transition: ease-in-out 0.5s;
}

.splash-logo.fade {
    bottom: 150px;
    opacity: 0;
    transition: ease-in-out 0.5s;
}


